<div class="wrapper">
  <div class="content">
    <div class="info"> 
      <h1>What's this?</h1>
      <p>A Website for helping ECE students achieve their dreams on becoming a Engineer, by testing them and evaluating their performance.</p>
    </div>
    <div class="info"> 
      <h1>Support Us</h1>
      <p>You can support us by submiting a question to our database, for more information click About Us</p>
      <div class="plug">
        <div class="plugger facebook">
          <div class="icon">
            <mat-icon>facebook</mat-icon>
          </div>
          
          <div class="label">
            <h2>No Page Yet</h2>
          </div>
        </div>
      </div>
    </div>
    
    <div class="announcement">
      <h2>A TOTAL OF</h2>
      <h1>200+</h1>
      <h2>QUESTION AS OF NOW!</h2>
    </div>
    <div class="d1"></div>
    <div class="d2"></div>
    <div class="d3"></div>
    <div class="d4"></div>
  </div>
  <div class="superfooter">
    <h1>BOARD REVIEWER</h1>
  </div>
</div>
