<div class="wrapper">
  <div class="cupcake">
    <img src="assets/cupcake.png">
  </div>
  <div class="top">
   
    <div class="block">
      <h1>About us</h1>
      <p>Sweet dream goodies is a home based cake and pastry shop established in 2021. </p>
    </div>
    <div class="block gone">
      <h1>Contact us</h1>
      <p>Mobile Number - 09217091187</p>
    </div>
    <div class="block gone">
      <h1>Follow us</h1>
      <div (click)="loader.redirect('https://www.facebook.com/Sweetdreamsgoodies')" class="fblink">
        <div class="icon">
          <mat-icon>facebook</mat-icon>
        </div>
        
        <h1>facebook/Sweetdreamsgoodies</h1>
      </div>
    </div>
  </div>
</div>
<div class="bottom">
  <h1>Sweet Goodies</h1>
</div>