<div class="wrapper">
  <div class="score">
    <div class="fill">
      <div class="inner">
        <h3>{{fill | percent}}</h3>
      </div>
    </div>
    <div class="blocker deg">
      <div class="block">
      </div>
    </div>
    <div #blocker1 class="blocker deg1">
      <div class="block">
        
      </div>
    </div>
    <div #blocker2 class="blocker deg2">
      <div class="block">
        
      </div>
    </div>
    <div #blocker3 class="blocker deg3">
      <div class="block">
        
      </div>
    </div>
  </div>
  <div class="label">
    <h1>{{label}}</h1>
  </div>
</div>
