.wrapper{
    width: 100%;
    height: fit-content;
    position: relative;
    z-index: 100;
    min-height: 5em;
    background-color: rgb(235, 105, 12);
    box-shadow: 0 -5px 10px 0 rgba(128, 128, 128, 0.486);
    h3, p{
        margin:0;
    }
    p{
        text-decoration: underline;
    }
    .topcontainer{
        display:flex;
        justify-content: space-evenly;
        padding-left: 1em;
        padding-right:1em;
        padding-top:2em;
        margin-top:3em;
        color: white;
        .widecontainer{
            button{
                float:right;
            }
            .buttons{
                display:flex;
                width: 100%;
                button{
                    width: 3.2em;
                    height:3.2em;
                    mat-icon{
                        font-size: 2.8em;
                        margin-left:-0.4em;
                    }
                }
                
            }
        }
    }
    h1{
        background-color:  rgb(255, 106, 0);
        margin:0;
        color : white;
        text-align: center;
        letter-spacing: 0.6em;
    }
   @media screen AND(max-width:925px){
       .container{
           display:none;
       }
   }
   p:hover{
       cursor: pointer;
   }
}