<div class="wrapper">
  <div class="topcontainer">
    <div class="container">
      <h3>SITE INFO</h3>
      <p>Vision</p>
      <p>About us</p>
      <p>Information Safety</p>
      <p>Click Providers</p>
    </div>
    <div class="container">
      <h3>NEED HELP</h3>
      <p>Service Creation</p>
      <p>Account Creation</p>
      <p>Customer Service</p>
      <p>Provider Center</p>
    </div>
    <div class="container">
      <h3>VISIT US</h3>
      <p>Locations</p>
      <p>Other Sites</p>
    </div>
    <div class="container">
      <h3>SUPPORT</h3>
      <p>Facebook</p>
      <p>Twitter</p>
    </div>
    <div class="widecontainer">
      <div class="top">
        <h3>BOOK NOW!</h3>
        <p> Register now with xxx number of services offered! </p>
        <!--<button mat-raised-button>Register</button>-->
      </div>
      <div class="buttons">
        <button mat-icon-button>
          <mat-icon>facebook</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>anchor</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>shop</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>account_circle</mat-icon>
        </button>
      </div>
      
      
    </div>
  </div>
  <h1>CLICK</h1>
  
</div>