.background{
    width:100%;
    position: fixed;
    filter: blur(5px);
    top:0em;
    left:0;
    z-index: -1;
    height: 100%;
    background-color: rgb(255, 255, 255);
    img{
        min-width: 100%;
        height: 100%;
    }
}
.wrapper{
    padding-top:8em;
    width: 100%;
    height: fit-content;
    display:flex;
    justify-content: center;
    overflow: hidden;
    .form{
        width: 100%;
        max-width:40em;
        border-radius: 1em;
        overflow: hidden;
        @media screen AND(max-width:364px) {
            padding:0em;
        }
        .profile{
            background-color: rgb(255, 255, 255);
            width:100%;
            box-shadow: 0 5px 5px 0 grey;
            padding-bottom:1em;
            margin-bottom:2em;
            .imageprofile{
                background-color: orange;
                text-align: center;
                img{
                    border-radius: 50%;
                    width:10em;
                    
                }
                p{
                    margin:0;
                    font-size: 1.5em;
                    font-weight: bolder;
                    color:white;
                }
            }
            p{
                margin-left:1em;
            }
            
        }
    }
}
.verificationwrapper{
    padding-top:12em;
    width: 100%;
    height: fit-content;
    display:none;
    justify-content: center;
    overflow: hidden;
    .form{
        background-color: white;
        width: 100%;
        max-width:40em;
        border-radius: 1em;
        padding:2em;
        overflow: hidden;
        @media screen AND(max-width:364px) {
            padding:0em;
            
        }
        text-align: center;
        padding-bottom: 4em;
        .buttons{
            display: flex;
            flex-direction: row;
            justify-content: center;
            button{
                margin-left:1em;
                margin-right:1em;
            }
        }
    }
}