.wrapper{
    background-color: rgb(255, 255, 255);
    height: 17em;
    width: 100%;
    border-radius: 2em;
    overflow:hidden;
    border:  solid white 10px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.747);
    .innerwrapper{
        position: relative;
        display:flex;
        height: 100%;
        background-color: rgb(189, 189, 189);
        background-image: url(../../../../assets/steeltexture.jpg);
        .editor{
            position: absolute;
            z-index: 20;
            top:0;
            left:0;
            button{
                background-color: white;
            }
            .red{
                color:red;
            }
            .green{
                color:green;
            }
        }
        .productpicture{
            width: 45%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;
            box-shadow: inset 0 0px 5px 5px rgba(0, 0, 0, 0.247);
            img{
                margin: auto;
                width: 15em;
                height: 15em;
                border-radius: 50%;
                box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.411);
            }
            .facebooklink{
                position: absolute;
                top:1em;
                left:1em;
                cursor: pointer;
                opacity: 0.8;
                
                img{
                    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0);
                    width: 5em;
                    height: 5em;
                    border-radius: 0;
                }
                h1{
                    position: relative;
                    top:-3em;
                    left:-0.5em;
                    background-color: white;
                    border-radius: 50vh;
                    padding:1em;
                    padding-top:0.1em;
                    padding-bottom:0.1em;
                    font-size: 0.8em;;
                    opacity: 0.7;
                }
            }
            .facebooklink:hover{
                opacity: 1;
            }
        }
        .productinfo{
            padding-left: 2em;
            padding-top:1.5em;
            width: calc(55% - 1em);
           background-color: white;
            .texts{
                min-height: 10em;
                p{
                    font-family: 'norwester';
                    margin:0;
                }
                h1{
                    font-family: 'norwester';
                    margin:0;
                    font-size: 3em;
                }
                h2{
                    font-family: 'norwester';
                    margin:0;
                    color:orangered;
                }
            }
            .extra{
                margin-top:1em;
                p{
                    font-family: 'norwester';
                    margin:0;
                }
                .bestselling{
                    text-align: center;
                    h1{
                        margin: auto;
                        padding:0.3em;
                        padding-left:1em;
                        padding-right:1em;
                        width: fit-content;
                        font-size: 2em;
                        background-color: rgb(255, 55, 55);
                        color:white;
                        border-radius: 1em;
                    }
                }
            }
        }
    }
    
}