<div class="wrapper">
    <!-- DONT DELETE THIS -->
    <div class="headerwrapper">
        <app-header></app-header>
      </div>
    <div class="marginwrapper">
        <router-outlet></router-outlet>
    </div>
    <div class="d1"></div>
    <div class="d2"></div>
    <div class="d3"></div>
    <div class="d4"></div>
    <div class="footerwrapper">
        <app-footer></app-footer>
    </div>
</div>
<div class="screen">
    <app-loader></app-loader>
    <app-alert></app-alert>
    <app-questioneditor></app-questioneditor>
</div>

