.wrapper{
    height: fit-content;
    min-height: 100%;
    width: 100%;
    margin:0;
    .headerwrapper{
        margin:0;
        font-size: 0.7em;
        @media screen AND(max-width:1024px) {
            font-size: 0.5em;
        }
        @media screen AND(max-width:768px) {
            font-size: 0.4em;
        }
        @media screen AND(max-width:580px) {
            font-size: 0.28em;
        }
        @media screen AND(max-width:425px) {
            font-size: 0.25em;
        }
        @media screen AND(max-width:390px) {
            font-size: 0.225em;
        }
        @media screen AND(max-width:350px) {
            font-size: 0.20em;
        }
    }
    .marginwrapper{
        width: 100%;
       max-width:70em;
       min-height: 50em;
       height: fit-content;
       margin:auto;
    }
    .footerwrapper{
        @media screen AND(max-width:1024px) {
            font-size: 1em;
        }
        @media screen AND(max-width:768px) {
            font-size: 0.8em;
        }
        @media screen AND(max-width:580px) {
            font-size: 0.65em;
        }
        @media screen AND(max-width:425px) {
            font-size: 0.5em;
        }
        @media screen AND(max-width:350px) {
            font-size: 0.4em;
        }
    }
    .d1{
        z-index: -1;
        width: 20em;
        height: 20em;
        background-color: rgba(26, 26, 26, 0.418);
        transform: rotate(30deg);
        right:-5em;
        bottom:-8em;
        position: fixed;
    }
    .d2{
        z-index: -1;
        width: 20em;
        height: 20em;
        background-color: rgba(255, 255, 255, 0.418);
        transform: rotate(70deg);
        left:4em;
        bottom:-12em;
        position: fixed;
    }
    .d3{
        z-index: -1;
        width: 20em;
        height: 30em;
        background-color: rgba(170, 170, 170, 0.418);
        transform: rotate(60deg);
        right:4em;
        top:-12em;
        position: fixed;
    }
    .d4{
        z-index: -1;
        width: 30em;
        height: 30em;
        background-color: rgba(68, 68, 68, 0.555);
        transform: rotate(45deg);
        left:4em;
        top:-12em;
        position: fixed;
    }
}
.screen{
    height: 100%;
    width: 100%;
}

