.wrapper{
    width:100%;
    p,img{
        margin:0;
        font-weight: bolder;
        letter-spacing: 0.05em;
        
    }
    text-align: center;
    .top{
        display:flex;
        justify-content: center;
        
        width:100%;
        display:flex;
        .leftinfo{
            display:flex;
            justify-content: center;
            flex-direction: column;
        }
        .rightinfo{
            display:flex;
            justify-content: center;
            flex-direction: column;
        }
        .imagecontainer{
            width:100%;
            max-width: 5em;
            text-align: center;
            img{
                cursor:pointer;
                box-shadow: 0 5px 5px 0 rgba(71, 71, 71, 0.541);
                width:3.5em;
                height:3.5em;
                border-radius: 50%;
            }
            
        }
        
    }
}